p {
   font-family: 'Poppins', Helvetica, sans-serif;
   font-size: 1.3125rem;
}

.text {
   background-color: white;
   color: black;
}

.textsecondsector {
   padding: 1.3rem 1rem;
}

.textsection {
   padding: 2rem 1.3rem 1rem 1.3rem;

   display: flex;

  flex-direction: row;
  justify-content: space-around;
}

.imgcontent {
   align-items: center;
   justify-content: center;

   display: flex;
   align-items: center;
 }

@media (max-width: 600px) {
   .textsection {
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   .img {
      align-self: center;
    }
 }

.img {
   width: 50%;
   box-shadow: 0 0 10px rgba(36, 36, 36, 0.7);
   border-radius: 3px;
}

.title {
   background-color: #361053;
   color: white;

   display: flex;
   justify-content: center;

   p {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 700;
      margin-left: 1rem;
      margin-right: 1rem;
   }
}

.centerButton {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.spots {
   color: red;
}

.space {
   padding-bottom: 1rem;
   text-align: center;
}
